Brand<br>
<select>
    <option>BMW</option>
    <option>MINI</option>
</select>
<br><br>

Stock Type<br>
<input type="checkbox">NSC Stock<br>
<input type="checkbox">Dealer Stock<br>
<input type="checkbox">Unpreferred Stock<br>
<br>

Production Status<br>
<input type="checkbox">In Production<br>
<input type="checkbox">In Transit<br>
<input type="checkbox">At Dealer<br>
<br>

Car:<br>
<select></select>
